<a href="https://colab.research.google.com/github/LarisseDepa/docpython-estudo/blob/main/funcoesEmbutidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Funções embutidas

##abs(x)

**Argumento** : número (float ou inteiro) ou objeto implementando __abs__()

**Retorna** : 

Para inteiros - o valor absoluto inteiro é retornado

Para números de pontos flutuantes - o valor absoluto flutuante é retornado

Para números complexos - a magnitude do número é retornada

In [ ]:
# Valor absoluto de um número inteiro

numero_inteiro = -45
inteiro_abs= abs(numero_inteiro)
print("O valor absoluto do número -45 é:", inteiro_abs)

# Valor absoluto de um número de ponto flutuante

numero_float = -89.90
print("O valor absoluto do número -89.90 é:", abs(numero_float))


#Magnitude do número complexo

complexo_num = (67 - 3j)
print('Magnitude do número 67 + 3j é:', abs(complexo_num))

O valor absoluto do número -45 é: 45
O valor absoluto do número -89.90 é: 89.9
Magnitude do número 67 + 3j é: 67.06713054842886

##all(*iterable*)

**Argumento** : lista, tupla ou dicionário

**Retorna** : Retorna True se todos os elementos de iterable são verdadeiros (ou se iterable estiver vazio)

In [ ]:
#Lista com elementos verdadeiros
my_list = ['AAA', 'CCC' , 'GGG']
list_iterable = all(my_list)
print('Quando todos os elementos são verdadeiros retorna:',list_iterable)

#Lista com elemento falso
my_list2 = ['AAA', 'CCC' , False]
list_iterable2 = all(my_list2)
print('Quando 1 elemento é falso retorna:',list_iterable2)

Quando todos os elementos são verdadeiros retorna: True
Quando 1 elemento é falso retorna: False

##any(*iterable*)

**Argumento** : lista, tupla ou dicionário

**Retorna** : Retorna True se algum elemento de iterable for verdadeiro. Se iterable estiver vazio, retorna False.

In [ ]:
#tupla com elementos verdadeiros
my_tuple = ("AAA", "GGG", "ATG")
tuple_interable = all(my_tuple)
print("Retorna True se apenas um elemento da tupla for verdadeiro:",tuple_interable)

#tupla vazia

my_tuple_vazia = ("", "")
print("Tupla estiver vazia a função all retorna:", all(my_tuple_vazia))

Retorna True se apenas um elemento da tupla for verdadeiro: True
Tupla estiver vazia a função all retorna: False

##bin(*x*)

**Argumento** : número inteiro

**Retorna** : Converte um número inteiro para uma string de binários prefixada com “0b”.

In [ ]:
#número inteiro
numero_inteiro = 250
bin_int = bin(numero_inteiro)
print("Retorna bin do número inteiro 250:",bin_int)

Retorna bin do número inteiro 250: 0b11111010

##class bool([x])

**parâmetro** : valor ou vazio

**Retorna** : 

`False` se o valor é omitido ou falso

`True` se o valor é verdadeiro

In [ ]:
#Valores considerados falso em python

#None
valor = None
print(valor, 'é', bool(valor))

# Zero de qualquer tipo númerico. Por exemplo, 0 ou 0.0 ou 0j
zero = 0
print(zero,'é', bool(zero))

zero_float = 0.0
print(zero_float,'é', bool(zero))

zero_complex = 0j
print(zero_complex,'é', bool(zero))

# sequências vazias. Por exemplo, (), [], ''

#tupla vazia
valor_tupla = ()
print(valor_tupla,'é', bool(valor_tupla))

#lista vazia
valor_lista = []
print(valor_lista,'é', bool(valor_lista))

#Mapeamento vazio.Por exemplo, {}
#lista vazia
valor_dic = {}
print(valor_dic,'é', bool(valor_dic))


#string
str_valor = 'AAGC'
print(str_valor,'é', bool(str_valor))

None é False
0 é False
0.0 é False
0j é False
() é False
[] é False
{} é False
AAGC é True

##chr(x)

**parâmetro** : número inteiro. O intervalo válido do inteiro é de 0 a 1.114.111.



**Retorna** : O método chr () retorna um caractere (uma string) de um inteiro (representa o ponto de código Unicode do caractere).

 a função ord()  é o inverso da função chr ()

In [ ]:
numero1= chr((98))
numero2= chr((100))

print(numero1)
print(numero2)

b
d

## delattr(*object, name*)

**parâmetro** : 
objeto - o objeto do qual nome atributo deve ser removido
nome - uma string que deve ser o nome do atributo a ser removido do objeto

**Retorna** : remove o atributo indicado, desde que o objeto permita.

In [ ]:
class myCodon:
  codon1 = "AAA"
  codon2 = "TTT"
  codon3 = "CCC"
 
codons = myCodon()

#implementando o método
delattr(myCodon, 'codon1')


print('Codons = ', codons.codon2, codons.codon3)

# Ao tentar imprimir o codon1 que foi deletado através do método ocorre um erro.
print('AttributeError: myCodon object has no attribute codon1', codons.codon1)

Codons =  TTT CCC

AttributeError: ignored

##class **dict(**kwarg)
##class **dict**(mapping, **kwarg)
## class **dict**(iterable, **kwarg)

**parâmetro** : 
"Um argumento de palavra-chave é um argumento precedido por um identificador (por exemplo,. name=). Conseqüentemente, o argumento de palavra-chave do formulário kwarg=valueé passado ao dict()construtor para criar dicionários"

**Retorna** : Cria um novo dicionário.

In [ ]:
#Exemplo 1: criar dicionário usando apenas argumentos de palavra-chave

codons = dict(codon1='aaa', codon2='ccc')
print('O dicionário criado foi =', codons)
print(type(codons))


#Exemplo 2: Criar Dicionário Usando Iterable

# zip() 
bases_nitrogenadas = dict(dict(zip(['adenina', 'guanina', 'citosina'], ['a', 'g', 'c'])))
print('Bases Nitrogenadas =', bases_nitrogenadas)

O dicionário criado foi = {'codon1': 'aaa', 'codon2': 'ccc'}
<class 'dict'>
Bases Nitrogenadas = {'adenina': 'a', 'guanina': 'g', 'citosina': 'c'}

## divmod(*a, b*)

**parâmetros** : dois números (não complexos) como argumentos.

**Retorna** : devolve um par de números que consiste em seu quociente e restante ao usar a divisão inteira.

In [ ]:
#Números inteiros
x =  divmod(8, 4)
print('divmod(8, 4) = ', x)

#Por exemplo, 8/4 = 2 e resto igual a 0

#Números de ponto flutuante
y =  divmod(2.0, 0.5)
print('divmod(2.0, 0.5) = ', y)

divmod(8, 4) =  (2, 0)
divmod(2.0, 0.5) =  (4.0, 0.0)

## enumerate(*iterable, start=0*)

**parâmetros** :  iterable deve ser uma sequência, um iterador ou algum outro objeto que suporte a iteração.

**Retorna** :  devolve uma tupla contendo uma contagem (a partir de start, cujo padrão é 0) e os valores obtidos na iteração sobre iterable.

In [ ]:
my_list = ['AAAAGGGG', 'TTTGGGCCC' , 'CCCTTGGGG']
contagem = list(enumerate(my_list))
print(contagem)

my_list2 = ['A', 'T','C','G']

contagem2 = list(enumerate(my_list2))
print(contagem2)

[(0, 'AAAAGGGG'), (1, 'TTTGGGCCC'), (2, 'CCCTTGGGG')]
[(0, 'A'), (1, 'T'), (2, 'C'), (3, 'G')]

 ## eval(expression[, globals[, locals]])

 **argumentos**: 

expressão ou argumento expression - a string analisada e avaliada como uma expressão Python  - 

dicionários globals (opcional)

dicionários locals como espaços de nomes globais e locais - um objeto de mapeamento. (opcional)

Dicionário é o tipo de mapeamento padrão em Python 

**Retornar**:

O método eval() retorna o resultado avaliado da expressão.

In [ ]:
a = 4
b  = 5

# eval() avalia a expressão e o print exibe o valor
print(eval('a + b - 1'))

8

## filter(*function, iterable*)

 **Argumentos**: 
- função - uma função
- iterável - um iterável como conjuntos , listas , tuplas etc.
   
**Retornar**:Constrói um iterador a partir dos elementos de iterable para os quais function retorna verdadeiro.

In [ ]:
#Exemplo 1
dinucleotideo = ['aa', 'gc', 'cc','tt', 'aa','gc']
def filtrar_letras(dinucleotideo):
    if dinucleotideo == 'gc':
          return True  

    return False
letras_iterator = filter(filtrar_letras, dinucleotideo)
l = list(letras_iterator)
print(l)
print('A contagem de gc é',len(l))


#Exemplo 2 com números
numeros = [5, 6, 7, 8, 9, 10]

def check_number(numeros):
    if numeros % 2 == 0:
          return True  

    return False

numeros_iterator = filter(check_number, numeros)
n = list(numeros_iterator)
print(n)

#Exemplo 3
letras = ['a', 'g', 'c','t', 'x', 'y']

def filter_letras(base):
  bases = ['a', 'g', 'c','t']
  return True if base in bases else False

filtered_letras = filter(filter_letras, letras)

#covertendo em lista
basesN = list(filtered_letras)
print(basesN)

['gc', 'gc']
A contagem de gc é 2
[6, 8, 10]
['a', 'g', 'c', 't']

##class float([x])

**parâmetros** :  número ou string

**Retorna** :  devolve uma tupla contendo uma contagem (a partir de start, cujo padrão é 0) e os valores obtidos na iteração sobre iterable.

In [ ]:
numero = 10
numero_float = float(numero)

print(numero_float)

string = '123'
string_float = float(string)
print(string_float)

10.0
123.0

##format(value[, format_spec])

**parâmetros** :  número ou string

**Retorna** :  Converte um valor value em uma representação “formatada”, controlado por format_spec.

In [ ]:
#Tipos de apresentação para número inteiro

print("Números inteiros: \n")
print('Número 12 no formato float:', format(12, "f")) #formato float
print('Número 12 no formato binário:', format(12, "b")) #formato binário
print('Número 12 no formato inteiro:', format(12, "d")) #formato inteiro decimal
print('Número 12 no formato octal:', format(12, "o")) #formato inteiro octal
print('Número 12 no formato hexadecimal:', format(12, "x")) #formato inteiro hexadecimal
print('Número 12 no formato hexadecimal:', format(12, "X")) #formato inteiro hexadecimal, maiúsculo.
print('Número 12 no formato n:', format(12, "n")) 
#É o mesmo que 'd', exceto que usa a configuração local atual para inserir os caracteres separadores de número apropriados

print('Número 12 no formato s:', format('12', 's')) #formato string

Números inteiros:

Número 12 no formato float: 12.000000
Número 12 no formato binário: 1100
Número 12 no formato inteiro: 12
Número 12 no formato octal: 14
Número 12 no formato hexadecimal: c
Número 12 no formato hexadecimal: C
Número 12 no formato n: 12
Número 12 no formato s: 12

In [ ]:
#Tipos de apresentação para número float e decimal

print("\n Números float e decimal: \n")
print('Notação cientifica do número 12.0 :', format(12.0, "e")) #Notação científica
print('Notação cientifica do número 12.0 :', format(12.0, "E")) #Notação científica,  ‘E’ maiúsculo
print('Notação de ponto fixo do número 12.0 :', format(12.0, "F")) #Notação de ponto fixo
print('Formato geral do número 12.0 :', format(12.0, "g")) #Notação de ponto fixo
print('Porcetagem do número 12.0 :', format(12.0, "%")) #Notação de ponto fixo

 Números float e decimal:

Notação cientifica do número 12.0 : 1.200000e+01
Notação cientifica do número 12.0 : 1.200000E+01
Notação de ponto fixo do número 12.0 : 12.000000
Formato geral do número 12.0 : 12
Porcetagem do número 12.0 : 1200.000000%

In [ ]:
#formatação de números com  alinhamento
print('Alinhamento a esquerda do número 12 :', format(12,"<")) 
print('Alinhamento a direita do número 12 :', format(12, ">")) 
print('Centralização do número 12 :', format(12, "^")) 
print('Preenchimento automático do número 12 :', format(12, "=")) 
print('Positivo número 12 :', format(12, "+")) 
print('Negativo número 12 :', format(12, "-")) 
print('Espaço número 12 :', format(12, " "))

Alinhamento a esquerda do número 12 : 12
Alinhamento a direita do número 12 : 12
Centralização do número 12 : 12
Preenchimento automático do número 12 : 12
Positivo número 12 : +12
Negativo número 12 : 12
Espaço número 12 :  12

In [ ]:
print(format(23,'>+g'))
print(format(23,'<=-e'))
print(format(23,'+f'))

+23
2.300000e+01
+23.000000

In [ ]:
#Exemplos de formato
#Acessando os argumentos por posição:
print('{1}, {0}, {2}'.format('a', 'g', 'c'))
print('{1}, {2}, {0}'.format(*'agc')) #descompactando agc
print('{0}{1}{0}'.format('estudo', 'python'))

g, a, c
g, c, a
estudopythonestudo

In [ ]:
#Acessando os argumentos por nome
print('Codons: {codonDNA}, {codonRNA}'.format(codonDNA='AAT', codonRNA='AAU'))

codons = {'codonDNA': 'AAT', 'codonRNA': 'AAU'}
'Codons: {codonDNA}, {codonRNA}'.format(**codons)


#Acessando os itens dos argumentos:
codons = ('AAA', 'TGC')
print('codon1: {0[0]};  codon2: {0[1]}'.format(codons))


#Substituindo %s e %r:
"O codon de DNA é : {!r}; O codon de RNA é : {!s}".format('TTT', 'UUU')

#Alinhando o texto e especificando uma largura:
print('{:>50}'.format('agggccc'))
print('{:*^30}'.format('agggccc'))

#Substituindo %+f, %-f e % f e especificando um sinal
print('{:+f}; {: f}; {:-f}'.format(3.14, -3.14, 3.14))

#pode ser :# ou :
print("int: {0:d};  hex: {0:#x};  oct: {0:o};  bin: {0:b}".format(12))

Codons: AAT, AAU
codon1: AAA;  codon2: TGC
                                           agggccc
***********agggccc************
+3.140000; -3.140000; 3.140000
int: 12;  hex: 0xc;  oct: 14;  bin: 1100

In [ ]:
#Usando a vírgula como um separador de milhares
print('{:,}'.format(12345))

#Expressando uma porcentagem
print('Porcentagem: {:.2%}'.format(12))

print('Porcentagem: {:0.2f}%'.format(12))
print('Porcentagem: {:0.1f}%'.format(12))

12,345
Porcentagem: 1200.00%
Porcentagem: 12.00%
Porcentagem: 12.0%

##hasattr(object, name)

**argumentos** :  um objeto e uma string

objeto - objeto cujo atributo nomeado deve ser verificado

nome - nome do atributo a ser pesquisado

**Retorna** :  O resultado é `True` se a string é o nome de um dos atributos do objeto, e `False` se ela não for.

In [ ]:
#Exemplo 1

class sequence:
  pb = 3800
  host = 'human'

sequence = sequence()
print('A sequencia tem pb?:', hasattr(sequence, 'pb'))
print('A sequencia tem data?:', hasattr(sequence, 'data'))


#Exemplo 2

print(hasattr('ATTTAAA', 'AAA'))

A sequencia tem pb?: True
A sequencia tem data?: False
False

## input([prompt])

In [ ]:
seq = input('Qual a sua sequencia:')
print('Minha sequência é, ' + seq)

Qual a sua sequencia:aaaggcgctttcc
Minha sequência é, aaaggcgctttcc

##class **int**([x])
##class **int**(x, base=10)

**argumentos** :  número ou string


**Retorna** :  Devolve um objeto inteiro construído a partir de um número ou string x, ou devolve 0 se nenhum argumento foi fornecido.

In [ ]:
print("int(136.7) é:", int(136.7))

int(136.7) é: 136

##len(s)


**argumentos** :  O argumento pode ser uma sequência (tal como uma string, bytes, tupla, lista, ou um intervalo) ou uma coleção (tal como um dicionário, conjunto, ou conjunto imutável).


**Retorna** : Devolve o comprimento (o número de itens) de um objeto.

In [ ]:
seq = 'aaaaggggccttgtgttttcacaccccaaaa'
print('Minha sequencia possui quantos nucleotideos?:',len(seq))

list_seq = ['aaaggggtttcc' , 'cccctgtgtaaaaa' , 'gggggcggtttaaa']
print('A lista possui quantas sequencias :',len(list_seq))
print('A minha primeira sequencia possui quantos nucleotideos? :',len(list_seq[0]))

dicio_seq = dict(dict(zip(['seq', 'seq2', 'seq3'], ['aaaaa', 'gggggg', 'tttttt'])))
print(dicio_seq)
print('Meu dict possui quantas seqs? :',len(dicio_seq))

Minha sequencia possui quantos nucleotideos?: 31
A lista possui quantas sequencias : 3
A minha primeira sequencia possui quantos nucleotideos? : 12
{'seq': 'aaaaa', 'seq2': 'gggggg', 'seq3': 'tttttt'}
Meu dict possui quantas seqs? : 3

##class list([iterable])

In [ ]:
seq = 'aaaaggggccttgtgtttt'
print(seq)

seq_list = list(seq)
print(seq_list)

aaaaggggccttgtgtttt
['a', 'a', 'a', 'a', 'g', 'g', 'g', 'g', 'c', 'c', 't', 't', 'g', 't', 'g', 't', 't', 't', 't']

##map(function, iterable, ...)

In [ ]:
#Função
def calculo(n):
    return n*n


numeros = (1, 2, 3, 4)
resultados = map(calculo, numeros)
print(list(resultados))

#Iterable 
mapped_numeros = list(map(lambda x: x * x , numeros))
print(mapped_numeros)

[1, 4, 9, 16]
[1, 4, 9, 16]

##reversed(seq)

In [ ]:
seq = 'aaaaggggccttgtgtttt'
a = reversed(seq)
print(list(a))

seq2 = ['AAA' , 'CCC' , 'TTT']
b = reversed(seq2)
print(list(b))

['t', 't', 't', 't', 'g', 't', 'g', 't', 't', 'c', 'c', 'g', 'g', 'g', 'g', 'a', 'a', 'a', 'a']
['TTT', 'CCC', 'AAA']

##sorted(iterable, *, key=None, reverse=False)

In [ ]:
seq = 'agct'

print(sorted(seq))  #sorted
print(sorted(seq, reverse=True)) #sorted reverso

['a', 'c', 'g', 't']
['t', 'g', 'c', 'a']

##iter(object[, sentinel])

**argumentos**- objeto - objeto cujo iterador deve ser criado (podem ser listas, tuplas , etc.)

**Retorna** - um objeto iterador

In [180]:
# lista de bases nitrogenadas
bases = ['a', 't', 'c', 'g', 'u']
bases_iter = iter(bases)

print(next(bases_iter))    # 'a'
print(next(bases_iter))    # 't'

a
t

##pow(base, exp[, mod])

**argumentos** - base, expoente ou modulo (opcional)'

In [182]:
print(pow(2, 2))    # 4

4

##class range(stop)
##class range(start, stop[, step]

**argumentos:** start - inteiro;  stop - inteiro; step - inteiro

In [189]:
# range(stop)
print(list(range(15)))

# range(start, stop)
print(list(range(2, 10)))

# using range(start, stop, step)
print(list(range(1, 10, 2)))

start = 1
stop = - 10
step = - 2

print(list(range(start, stop, step)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, -1, -3, -5, -7, -9]

##reversed(seq)

In [191]:
#reversed str em list
seq = 'aattgg'
print(list(reversed(seq)))

['g', 'g', 't', 't', 'a', 'a']


##round(number[, ndigits])

In [193]:
round(2.6789499, 2)

2.68

##class set([iterable])
A função set() cria um conjunto

In [197]:
print(set([1, 2, 3, 3,4, 7, 5]))
print(set({'a':0, 'e': 1, 'i':2, 'o':3, 'u':4}))

{1, 2, 3, 4, 5, 7}
{'a', 'e', 'o', 'u', 'i'}

##class slice(stop)
##class slice(start, stop[, step])

In [206]:
string = 'aaatgcuu'
slice_string = slice(4)
print(string[slice_string])


string = '-aaatgcuu-'
slice_string = slice(1, -1)
print(string[slice_string])

# start = 1, stop = 6, step = 2
string = 'aaaatgcuu'
slice_string = slice(1, 6, 2)
print(string[slice_string])

aaat
aaatgcuu
aag

##sum(*iterable, /, start=0*)

In [213]:
a = sum ([1,2,3])
print(a)

6

##zip(*iterables)

In [224]:
freqcodon_list = [50, 20, 40]
codon_list = ['AAA', 'ATG', 'GTC']

resultado_list= zip(codon_list,freqcodon_list)
print(list(resultado_list))

resultado_list2= list(zip(codon_list,freqcodon_list))
print(set(resultado_list2))

[('AAA', 50), ('ATG', 20), ('GTC', 40)]
{('GTC', 40), ('ATG', 20), ('AAA', 50)}

#Referências:

* https://www.programiz.com/python-programming/methods/built-in/abs

* https://docs.python.org/pt-br/3/library/functions.html

* https://www.w3schools.com/python/

* https://www.geeksforgeeks.org/python-programming-language/